
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.new-module-btn {
  background-color: #efefef;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  &.disabled{
    color: #a7a7a7;
  }
}